body{
  justify-content: center;
  background-color: rgb(67, 171, 177);
}

section {
  display: flex;
}

section .weather {
  border: 1px solid #ccc;
  flex: 1;
  padding: 10px;
  text-align: center;
}

.weather span {
  font-weight: bold;
}

h1 {
  text-align: center;
}